.left-panel{
    padding-top: 10em;
    align-content: center;
    height: 35em;
    text-align: left;
}

.new-collection{
    font-size: 0.5cm;
    font-weight: bold;
}

.other-text{
    font-size: 3cm;
    font-weight: bold;
}

.hand-icon {
    width: 50px;
}

.latest-Collec{
    margin-top: 2em;
    background-color: red;
    color:white;
}
.right-Arrow{
    margin-left: 0.5em;
}

.home_image {
    width: 460px;
    padding-left: 3em;
    
}
.empty{
    height: 100px;
}